@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Para comenzar con su transacción de click a:<a class="nav-link" asp-area="" asp-controller="EnviasRecibo" asp-action="Index">COMENZAR</a><p>
</div>
